@import "init";

.main {
  overflow: hidden;
  background-color: #ccc;
  * {
    // border: 1px solid #fff;
  }
}

.pc {
  @include media($pad) {
    display: none;
  }
}
.mb {
  display: none;
  @include media($pad) {
    display: block;
  }
}
// 灰底方塊
.gray_box {
  background-color: #fff;
  border: 3px solid #fff;
  box-shadow: inset 0 0 20px #ededed;
  border-radius: 6px;
  display: block;
}
//banner
.banner {
  background-image: url("../img/03banner.jpg");
  height: 500px;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding-top: 60px;
  overflow: hidden;
  @include media($pad) {
    background-image: url("../img/03banner_mb.jpg");
    background-size: cover;
    height: 66vw;
    padding-top: 5vw;
  }
}
//文字跑馬燈
.banner__text {
  position: absolute;
  top: 230px;
  left: 50%;
  width: 680px;
  height: 30px;
  overflow: hidden;
  @include media($pad) {
    display: none;
  }
  img {
    position: absolute;
    left: -680px;
    width: 1360px;
    max-width: 1360px;
    animation: bannerText 15s infinite linear;
  }
  &--left {
    transform: translateX(-1170px) rotate(45deg);
  }
  &--right {
    transform: translateX(490px) rotate(-45deg);
  }
}
@keyframes bannerText {
  0% {
    left: -680px;
  }
  100% {
    left: 0;
  }
}
.banner__march {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0px;
    margin-right: -4px;
    background-position-x: 60px;
    &.bannerMarch {
      animation: bannerMarch 1.5s forwards;
    }
    img {
      opacity: 0;
    }
  }
  li:nth-child(1) {
    background-image: url("../img/march_01.png");
    @include media($pad) {
      width: 7.8%;
    }
  }
  li:nth-child(2) {
    background-image: url("../img/march_02.png");
    @include media($pad) {
      width: 7.3%;
    }
  }
  li:nth-child(3) {
    background-image: url("../img/march_03.png");
    @include media($pad) {
      width: 6.5%;
    }
  }
  li:nth-child(4) {
    background-image: url("../img/march_04.png");
    @include media($pad) {
      width: 6.1%;
    }
  }
  li:nth-child(5) {
    background-image: url("../img/march_05.png");
    @include media($pad) {
      width: 7.5%;
    }
  }
}
@keyframes bannerMarch {
  0% {
    background-position-x: 60px;
  }
  100% {
    background-position-x: 0px;
  }
}
.banner__2020 {
  margin: 10px auto 0;
  width: 79px;
  @include media($pad) {
    width: 11vw;
    margin-top: 2vw;
  }
  &--mask {
    width: 0%;
    height: 100%;
    overflow: hidden;
    &.banner2020 {
      animation: banner2020 1s forwards;
    }
    img {
      width: 79px;
      max-width: 79px;
      @include media($pad) {
        width: 11vw;
      }
    }
  }
}
@keyframes banner2020 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.queen {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-520px, 100%) scale(0.7);
  z-index: 10;
  @include media($pad) {
    width: 46%;
    transform: translate(0, 100%) scale(0.7);
    left: -10%;
  }
}
.banner__1xper {
  position: absolute;
  bottom: 15px;
  width: 570px;
  left: 50%;
  transform: translateX(-180px);
  z-index: 5;
  > img {
    display: inline-block;
    opacity: 0;
  }
  @include media($pad) {
    width: 79%;
    left: 26%;
    transform: none;
    bottom: 3vw;
  }
}
.banner__1 {
  @include media($pad) {
    width: 20%;
  }
}
.banner__x1 {
  position: relative;
  z-index: 5;
  @include media($pad) {
    width: 42%;
  }
}
.banner__x2 {
  position: absolute;
  left: 24%;
  z-index: 3;
  @include media($pad) {
    width: 35.2%;
  }
}
.banner__percent {
  position: relative;
  left: -6%;
  @include media($pad) {
    width: 33.5%;
  }
}
.banner__icon {
  position: absolute;
  left: 61%;
  top: -4%;
  width: 17%;
  opacity: 0;
  transform: translateX(100px);
  @include media($pad) {
    left: 59%;
    top: -2%;
  }
}
//all section
.all-section {
  background-image: url("../img/03section_bg.jpg");
  background-position: top center;
  background-repeat: repeat-y;
  padding-top: 20px;
  padding-bottom: 20px;
}
section {
  position: relative;
  margin-bottom: 60px;
  @include media($mobile) {
    margin-bottom: 40px;
  }
}
.section__title {
  position: relative;
  background-color: #000;
  color: #fff;
  margin-bottom: 20px;
  padding: 15px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  @include media($pad) {
    padding: 10px 0;
    margin-bottom: 3vw;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    width: 5px;
    height: 60%;
    background-color: #ea3223;
    @include media($pad) {
      display: none;
    }
  }
  h4 {
    font-size: 2.5rem;
  }
  &--left {
    font-size: 2.8rem;
    line-height: 1;
    border-bottom: 5px solid #ea3223;
    font-family: serif;
    @include media($padLg) {
      font-size: 6vw;
    }
    @include media($pad) {
      line-height: 1.1;
      border-width: 2px;
    }
  }
  &--center {
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: 2px;
    @include media($pad) {
      font-size: 7.5vw;
    }
  }
}
.section__content {
  max-width: 1115px;
  margin: 0 auto;
  position: relative;
  @include media($mobile) {
    background-size: 40px 40px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  [class^="col"] {
    padding: 0 8px;
    @include media($mobile) {
      padding: 0 5px;
    }
  }
}

// [section columns link]
.hotact a,
.allpay a {
  margin-bottom: 16px;
  @include media($mobile) {
    margin-bottom: 10px;
  }
}
.bank__icon a {
  margin-bottom: 24px;
  @include media($mobile) {
    margin-bottom: 14px;
  }
}

// [銀行、儲值]滑動區塊設定
.swiper-container {
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.swiper-slide {
  position: relative;
  background-color: #fff;
  width: 173px;
  padding: 6px 0 0;
  @include media($pad) {
    width: 180px;
  }
  @include media($mobile) {
    width: 130px;
  }
  // hover箭頭
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 30;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: #fff transparent transparent transparent;
    transition: 0.3s;
  }
}
// 滑動區塊底部
.bot {
  display: flex;
  justify-content: center;
  align-items: center;
  .left {
    font-size: 14px;
    border-radius: 3px;
    padding: 4px 3px 2px 3px;
    background-color: #ff017f;
    color: #fff;
    line-height: 1.1;
    margin: 0 10px 0 0;
    .pay_tab & {
      background-color: #0a9cf1;
    }
    @include media($pad) {
      font-size: 12px;
    }
  }
  .right {
    font-size: 2.3rem;
    color: #ff017f;
    font-weight: bold;
    margin: 0;
    .pay_tab & {
      color: #0a9cf1;
    }
    @include media($mobile) {
      font-size: 1.5rem;
    }
  }
}
.bank_tab .now.swiper-slide:after {
  bottom: -20px;
  border-width: 20px 20px 0 20px;
}

// [銀行]滑動區塊設定
.bank_tab {
  .gray_box {
    padding: 8px 8px 0;
    background-color: #fff;
    &:nth-child(odd) h5 {
      background-color: #ffedd3;
    }
    @include media($mobile) {
      padding: 4px 4px 0;
    }
  }
  h5 {
    font-size: 2rem;
    line-height: 1.3;
    color: #ff007d;
    border-radius: 8px;
    padding: 14px 0;
    background-color: #e9d9ff;
    margin-bottom: 0;
    @include media($mobile) {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
  }
}
.bank_pane.gray_box {
  background-color: #ededed;
}
// [儲值]滑動區塊設定
.pay_tab {
  a {
    text-decoration: none;
  }
  h3 {
    color: #333333;
    background-color: #ffcf00;
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px;
    margin: 0 5px 5px;
    font-size: 1rem;
    font-weight: normal;
  }
  h5 {
    color: #333333;
    font-size: 1.5rem;
    margin-bottom: 0;
    @include media($mobile) {
      font-size: 1.2rem;
    }
  }
}

// [銀行、儲值]內容區塊設定
.bank_tab,
.bank_pane,
.pay_tab {
  @include media($mobile) {
    width: 97%;
  }
}
.bank_pane,
.pay_pane {
  margin-left: auto;
  margin-right: auto;
}
.tab_content {
  // background-color: #fff;
  margin-bottom: 10px;
  padding: 0px;
}
.pane {
  display: none;
  &.active {
    display: block;
  }
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  @include media($pad) {
    padding: 5px 0;
  }
  .pane_text {
    width: 55%;
  }
  @include media($pad) {
    .pane_boxman {
      display: none;
    }
    .pane_card {
      width: 30%;
    }
    .pane_text {
      width: 65%;
    }
  }
  h4 {
    font-size: 1.6rem;
    margin-bottom: 0px;
    line-height: 1.5;
    color: #333333;
    letter-spacing: 1px;
    span {
      color: #ff017f;
      .pay_pane & {
        color: #0a9cf1;
      }
    }
    @include media($padLg) {
      font-size: 1.2rem;
    }
    @include media($pad) {
      font-size: 1rem;
    }
    @include media($mobile) {
      font-size: 12px;
      letter-spacing: 0;
      br {
        display: none;
      }
    }
  }
  p {
    color: #333333;
    font-size: 16px;
    margin-bottom: 5px;
    @include media($mobile) {
      font-size: 12px;
    }
  }
  .bank_btn {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 5px 0;
    padding: 4px 35px;
    border-radius: 20px;
    background-color: #ff007d;
    color: #fff;
    box-shadow: 2px 2px 0 1px #ffd0d7;
    @include media($mobile) {
      margin: 0 0 5px;
    }
    .pay_pane & {
      background-color: #0a9cf1;
      box-shadow: 2px 2px 0 1px #84d5ff;
      &:hover {
        background-color: #1890ce;
      }
    }
    &:hover {
      color: #fff;
      background-color: #ee2588;
    }
    &:active {
      transform: translateY(3px);
    }
    @include media($mobile) {
      line-height: 1.2;
      font-size: 14px;
      padding: 2px 30px;
      border-radius: 15px;
    }
  }
}
//銀行pane新版
.bank_pane .content {
  padding: 10px 0px;
}
.bank_pane .col-12:nth-child(2) {
  @include media($pad) {
    margin-top: 15px;
    padding-top: 15px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    border-radius: 5px;
    height: 100%;
    background-color: #fff;
    @include media($pad) {
      left: 50%;
      transform: translateX(-50%);
      width: 85%;
      height: 3px;
    }
  }
}
.pane__top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  &--text {
    h5 {
      color: #333333;
      font-size: 1.75rem;
      font-weight: 300;
      line-height: 1.3;
      margin-bottom: 0;
      @include media($mobile) {
        font-size: 5vw;
      }
    }
  }
  &--img {
    max-width: 50%;
  }
  .bot {
    justify-content: flex-start;
    .left {
      margin-right: 5px;
    }
    .right {
      font-size: 1.75rem;
    }
  }
}
#section2 .swiper-container {
  padding-bottom: 0;
}
// [section3] --bankicon
.bank__icon {
  padding: 0 70px 30px;
  @include media($padLg) {
    padding: 0px;
  }
  &--link {
    display: block;
    img {
      transition: 0.5s;
    }
    &:hover {
      text-decoration: none;
      img {
        transform: scale(0.9);
      }
      .bank__icon--name:before,
      .bank__icon--name:after {
        width: 30%;
      }
    }
  }
  &--name {
    color: #fff;
    margin-top: 4px;
    font-size: 1.75rem;
    font-weight: 300;
    position: relative;
    @include media($pad) {
      font-size: 1.2rem;
    }
    @include media($mobile) {
      font-size: 1rem;
    }
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 0;
      width: 0%;
      left: 50%;
      height: 1px;
      background-color: #fff;
      transition: 0.3s;
    }
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 0;
      width: 0%;
      right: 50%;
      height: 1px;
      background-color: #fff;
      transition: 0.3s;
    }
  }
}
.col-1-5 {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 0 0 20%;
  max-width: 20%;
  width: 100%;
  text-align: center;
  padding: 0 15px !important;
  @include media($pad) {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  @include media($mobile) {
  }
}

// [section4] --allpay
.allpay a.gray_box {
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  img {
    transition: 0.3s;
  }
  &:hover img {
    transform: scale(0.9);
  }
}

// [section5] --pcoin
.pcoin {
  text-align: center;
  padding: 0 10px;
  a {
    img {
      transition: 0.3s;
    }
    display: block;
    &:hover {
      img {
        transform: scale(0.98);
      }
    }
  }
}
.btn_pcoin {
  display: inline-block;
  padding: 2px 25px;
  margin-top: 25px;
  font-size: 1.75rem;
  color: #035545;
  background-color: #efefef;
  border-radius: 5px;
  @include media($mobile) {
    font-size: 1.25rem;
    padding: 2px 18px;
    margin-top: 18px;
  }
}

// [section6] --hotact
#section6 {
  margin-bottom: 0;
  .section__content {
    padding-bottom: 30px;
    @include media($mobile) {
      padding-bottom: 15px;
    }
  }
}
.hotact a {
  background-color: #fff;
  display: block;
  transition: 0.3s;
  img {
    transition: 0.3s;
  }
  &:hover {
    transform: translateY(-2px);
    img {
      opacity: 0.7;
    }
  }
}
