@import 'init';

.pc {
  @include media($pad) {
    display: none;
  }
}
.mb {
  display: none;
  @include media($pad) {
    display: block;
  }
}
/* loading動畫 */
.loading_mask {
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 100%;
  background-color: #c9000c;
}

.lds-ellipsis {
  position: absolute;
  width: 64px;
  z-index: 99;
  display: inline-block;
  top: 50%;
  left: 50%;
  height: 64px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lds-ellipsis div {
  position: absolute;
  width: 11px;
  z-index: 99;
  top: 27px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
  animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(19px, 0);
    transform: translate(19px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(19px, 0);
    transform: translate(19px, 0);
  }
}

.wrap {
  height: calc(100% - 40px);
  background-color: #10365d;
  overflow: hidden;
  position: relative;
  display: flex;
  @media screen and(max-width: 1060px) {
    height: calc(100% - 30px);
  }
}
.game {
  width: 450px;
  height: 660px;
  margin: auto;
  position: relative;
  background-color: #1f456c;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  @include media($mobile) {
    box-shadow: none;
  }
  @include media($pad) {
    width: 100%;
    height: 100%;
  }
}

.page1 {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 20;
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: url(../img/page1-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom 20%;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 30%;
    background: linear-gradient(top, #f66b47, #71210b 60%);
  }
  .lantern {
    position: relative;
    z-index: 20;
  }
  .boxman-content {
    position: absolute;
    z-index: 20;
    bottom: 25%;
    left: 52%;
    width: 60%;
    transform: translateX(-45%);
    transform-origin: bottom center;
    .envelope-left {
      position: absolute;
      top: 53%;
      left: 23%;
      width: 12%;
      transform: rotate(-40deg);
      z-index: 5;
    }
    .envelope-right {
      position: absolute;
      top: 53%;
      right: 30%;
      width: 12%;
      transform: rotate(40deg);
      z-index: 5;
    }
  }
  .boxman {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-image: url(../img/boxman.png);
    background-repeat: no-repeat;
    background-position: 0% 0;
    background-size: 200%;
  }
  .page1-btns {
    position: absolute;
    bottom: 17%;
    left: 0;
    z-index: 25;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: block;
      width: 32%;
      margin: 0 2%;
    }
  }
  .title {
    position: absolute;
    width: 76%;
    bottom: 70%;
    left: 12%;
    z-index: 20;
  }
}
.firework {
  position: absolute;
  z-index: 1;
  transform: scale(0);
  opacity: 0;
  &.firework-1 {
    top: 23%;
    left: 0%;
    width: 20%;
  }
  &.firework-2 {
    top: 2%;
    left: 23%;
    width: 15%;
  }
  &.firework-3 {
    top: 30%;
    left: 55%;
    width: 18%;
  }
  &.firework-4 {
    top: 18%;
    right: 0%;
    width: 15%;
  }
}

.dog-1 {
  position: absolute;
  top: 0;
  left: 5%;
  transform: translateY(-60%);
  width: 27%;
  z-index: 40;
  pointer-events: none;
}
.dog-2 {
  position: absolute;
  right: 4%;
  bottom: 15%;
  width: 22%;
  pointer-events: none;
}

.page2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-image: url(../img/page2-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0;
  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform: translateY(100%);
    &.footer-2 {
      z-index: 10;
      pointer-events: none;
    }
  }
  &__header {
    position: relative;
    z-index: 10;
    transform: translateY(-100%);
  }
  &__place {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(../img/page2-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .board {
    position: absolute;
    top: 0.5%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      width: 36%;
      margin: 0 2%;
      position: relative;
    }
    p {
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-weight: bold;
      font-size: 1.25rem;
    }
  }
  .items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  .updateScore {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.8;
    pointer-events: none;
    &.minus {
      color: #ff0606;
    }
  }
  .item {
    position: absolute;
    top: -30px;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
    &.envelope {
      width: 14%;
      height: 20%;
      &:before {
        background-image: url(../img/envelope.png);
        animation: envelope 2s infinite linear;
      }
    }
    &.bomb {
      width: 16%;
      height: 20%;
      &:before {
        background-image: url(../img/bomb.png);
        animation: bomb 2s infinite linear;
      }
    }
    &.pointer-none {
      pointer-events: none;
    }
  }
}
@keyframes envelope {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes bomb {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
// footer
.game__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  @include media($pad) {
    padding: 6vw 2vw 2vw;
  }
  .col {
    padding: 0 4px;
  }
}

#gameover {
  * {
    border: none;
  }
  .modal-dialog {
    margin: 0 auto;
  }
  .modal-content {
    background: none;
  }
  .modal-body {
    padding: 0;
  }
}
.btn-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  transform: translateY(60%);
  left: 0;
  width: 100%;
  a {
    display: block;
    max-width: 30%;
    margin: 0 2%;
  }
}

//活動說明
#remind {
  .modal-title {
    color: #c7000c;
    font-size: 24px;
    font-weight: bold;
    @include media($mobile) {
      font-size: 1.25rem;
    }
  }
  .modal-header {
    @include media($pad) {
      padding: 10px;
    }
  }
  .modal-body {
    @include media($pad) {
      padding: 15px 10px;
    }
  }
  .modal-footer {
    justify-content: center;
    @include media($pad) {
      padding: 10px;
    }
  }
}
.modal-body ul {
  padding-left: 5px;
  list-style: none;
  margin-bottom: 0;
  li {
    margin-bottom: 8px;
    @include media($pad) {
      font-size: 14px;
    }
    span {
      display: inline-block;
      font-size: 1.3rem;
      font-weight: 700;
      @include media($pad) {
        font-size: 1rem;
      }
    }
  }
  &.decimal {
    list-style: decimal;
    padding-left: 20px;
    li {
      margin-bottom: 4px;
    }
  }
  &.dot {
    list-style: disc;
    padding-left: 20px;
    li {
      span {
        font-size: 1rem;
        margin-left: -0.75rem;
        font-weight: normal;
      }
    }
  }
}
