@import 'init';
.loading_mask {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1200;
  height: 100%;
  background-color: #2cc185;
}

.lds-ellipsis {
  position: absolute;
  width: 64px;
  z-index: 99;
  display: inline-block;
  top: 50%;
  left: 50%;
  height: 64px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lds-ellipsis div {
  position: absolute;
  width: 11px;
  z-index: 99;
  top: 27px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
  animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(19px, 0);
    transform: translate(19px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(19px, 0);
    transform: translate(19px, 0);
  }
}

html {
  scroll-behavior: smooth;
}

.pc {
  @include media($pad) {
    display: none;
  }
}
.mb {
  display: none;
  @include media($pad) {
    display: block;
  }
}

body {
  @include media($padLg) {
    font-size: 14px;
  }
  &.body--hidden {
    overflow: hidden;
  }
}
// highlight
.highlight {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 51;
  height: 4px;
  transition: all 0.2s;
  background-color: #2cc187;
  pointer-events: none;
  opacity: 0;
}

// top section
.top__section {
  padding: 1rem 0;
  background-color: #fff;
  @include media($pad) {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 60;
    max-width: 100%;
    height: 40px;
    box-shadow: 0 2px 4px rgba(#686868, 0.15);
  }
  &--logo {
    font-size: 1.8rem;
    font-weight: 700;
    @include media($pad) {
      font-size: 1.3rem;
    }
  }
}

// nav
.nav {
  position: relative;
  z-index: 50;
  @include media($pad) {
    backdrop-filter: blur(5px);
    transition: translate 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(#fff, 0.85);
    transition: 0.3s;
    transform: translateX(100%);
  }
  &__container {
    width: 1170px;
    max-width: 1170px;
    padding: 0 15px;
    position: relative;
    @include media($pad) {
      width: 100%;
    }
  }
  ul {
    display: flex;
    width: 100%;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    @include media($pad) {
      display: block;
      border: none;
      margin-top: 20%;
      padding: 0 3rem;
    }
    li {
      border-right: 1px solid #ccc;
      &:nth-child(1) {
        border-left: 1px solid #ccc;
        @include media($pad) {
          border-left: none;
        }
      }
      @include media($pad) {
        border: none;
        border-bottom: 1px solid #2cc185;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.6rem 0;
      background-color: #fff;
      @include media($pad) {
        background-color: transparent;
        padding: 1rem 0;
      }
      &:hover {
        svg {
          fill: #474747;
        }
        p {
          color: #474747;
        }
      }
      svg {
        height: 30px;
        margin-right: 6px;
        fill: #2cc185;
        transition: 0.2s;
        &#icon1 {
          max-width: 34px;
          .fd7ca649-50e3-4293-abf3-7efa9933f31e {
            fill: none;
          }
        }
        &#icon2 {
          max-width: 34px;
        }
        &#icon3 {
          max-width: 30px;
        }
        &#icon4 {
          max-width: 30px;
        }
        &#icon5 {
          max-width: 30px;
        }
        &#icon6 {
          max-width: 32px;
        }
      }
      p {
        font-size: 1.2rem;
        letter-spacing: 1px;
        color: #2cc185;
        transition: 0.2s;
      }
    }
  }
  // if nav fixed
  &.nav--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(#686868, 0.15);
    ul {
      border-top-color: transparent;
      border-bottom-color: transparent;
      > li > a {
        background-color: transparent;
      }
    }
  }
  &__button {
    position: fixed;
    top: 50px;
    right: 15px;
    width: 30px;
    height: 20px;
    z-index: 110;
    display: none;
    @include media($pad) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      span {
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background-color: #444;
        transition: all 0.5s ease;
      }
      &.button--ani {
        span {
          background-color: #2cc187;
        }
        span:first-child {
          transform: translateY(9px) rotate(45deg);
        }
        span:nth-child(2) {
          transform: scaleX(0);
        }
        span:last-child {
          transform: translateY(-9px) rotate(-45deg);
        }
      }
    }
  }
  &.nav--open {
    transform: translateX(0);
  }
}

.main {
  padding-top: 1rem;
  padding-bottom: 2rem;
  overflow: hidden;
  position: relative;
  &.add--top {
    padding-top: 67px;
  }
  @include media($pad) {
    padding-top: 80px;
    padding-bottom: 0rem;
  }
}

.container-fluid {
  max-width: 1170px;
  margin-bottom: 2.6rem;
  position: relative;
  z-index: 10;
  @include media($pad) {
    margin-bottom: 1.8rem;
  }
}

// banner
.banner {
  margin-top: 1rem;
  @include media($pad) {
    margin-top: 0;
    margin-bottom: 2.2rem;
  }
  &__left {
    position: relative;
    span {
      position: absolute;
      z-index: 30;
      top: 8px;
      left: 12px;
      color: #fff;
      background-color: rgba(#5e5e5e, 0.5);
      border-radius: 30px;
      padding: 2px 8px;
      @include media($pad) {
        top: 6px;
        left: 8px;
      }
    }
  }
  .row {
    margin-left: -8px;
    margin-right: -8px;
    > .col-md-8 {
      @include media($pad) {
        margin-bottom: 1rem;
      }
    }
  }
  [class^='col'] {
    padding: 0 8px;
  }
  .swiper-pagination {
    top: auto;
    bottom: 0;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #2cc187;
  }
  // 右邊 ad
  &__right {
    background-image: url(../img/main-right2.jpg);
    background-position: top center;
    background-size: cover;
    height: 100%;
    position: relative;
    @include media($pad) {
      height: 41vw;
      background-position-y: 40%;
    }
    &--info {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 0.2rem 0 0.6rem;
      text-align: center;
      background-color: #c53b3b;
      color: #fff;
      @include media($pad) {
        padding: 0.4rem 0;
        background-color: rgba(#c53b3b, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p {
        margin-bottom: 0.2rem;
        font-size: 1.5rem;
        font-weight: 300;
        @include media($pad) {
          font-size: 1rem;
          margin-bottom: 0;
          margin-right: 0.5rem;
        }
      }
      a {
        color: #fff;
        font-weight: 600;
        font-size: 1.5rem;
        display: inline-block;
        padding: 0 1.4rem;
        border: 2px solid #fff;
        border-radius: 2rem;
        transition: 0.3s;
        &:hover {
          color: #c53b3b;
          background-color: #fff;
        }
        @include media($pad) {
          font-size: 1.1rem;
          border-width: 1px;
          padding: 0 1.2rem;
        }
      }
    }
  }
}

// describe
.describe {
  text-align: center;
  margin-bottom: 1.6rem;
  .row {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  [class^='col'] {
    padding: 0 0.5rem;
    @include media($pad) {
      margin-bottom: 1rem;
    }
  }
  &__title {
    color: #6d6c6c;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    @include media($pad) {
      font-size: 1.5rem;
    }
  }
  &__box {
    height: 100%;
    padding: 0 6px;
    border-radius: 20px;
    box-shadow: 3px 3px 14px rgba(#9b9b9b, 0.4);
    background-color: #fff;
    img {
      @include media($pad) {
        width: 24%;
      }
    }
    &--text {
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #eaeaea;
      padding: 4px;
      h4 {
        color: #2ec186;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 2px;
        @include media($pad) {
          font-size: 1.6rem;
          margin-bottom: 0;
        }
      }
      p {
        color: #9b9b9b;
      }
    }
  }
}

// products-banner
.products-banner {
  margin-bottom: 0.8rem;
  margin-top: 3rem;
  @include media($pad) {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }
}
.products-banner--title {
  background-color: #2cc185;
  padding: 0.5rem 0.5rem 0.6rem;
  text-align: center;
  position: relative;
  > h3 {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    @include media($pad) {
      font-size: 1.3rem;
      margin-bottom: 0.4rem;
    }
  }
  > p {
    font-size: 1.8rem;
    font-weight: 600;
    color: #2cc185;
    background-color: #fff;
    display: inline-block;
    padding: 0px 5rem;
    border-radius: 30px;
    @include media($padLg) {
      margin-bottom: 0.4rem;
    }
    @include media($pad) {
      font-size: 1.4rem;
    }
    @include media($mobile) {
      padding: 0 2rem;
    }
    .small {
      font-weight: bold;
      text-shadow: 1px 1px #2cc185;
      margin-left: 2px;
      @include media($pad) {
        text-shadow: none;
      }
    }
    .bold {
      font-weight: bold;
      text-shadow: 1px 1px #2cc185;
      margin-right: 2px;
      font-size: 1.2em;
      @include media($pad) {
        text-shadow: none;
      }
    }
  }
  > span {
    position: absolute;
    right: 0.4rem;
    bottom: 0.6rem;
    z-index: 5;
    color: #fff;
    @include media($padLg) {
      position: static;
      display: block;
    }
  }
}
// products
.products {
  position: relative;
  margin-bottom: 1.2rem;
  @include media($pad) {
    margin-bottom: 0.8rem;
  }
  // subtitle
  &__subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    @include media($pad) {
      margin-bottom: 0.4rem;
    }
    p {
      padding: 0 1rem;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 1px;
      color: #6d6c6c;
      @include media($pad) {
        font-size: 1.5rem;
      }
    }
    span {
      flex-grow: 1;
      height: 1px;
      background-color: #afafaf;
    }
  }
  // products item
  &__item {
    position: relative;
    &:hover {
      .products__img:after {
        transform: translate(-50%, -50%) scale(1);
        transition: 0.3s;
      }
      .products__name {
        color: #000;
      }
    }
  }
  &__img {
    padding: 4px;
    border: 1px solid #e1e1e1;
    margin-bottom: 6px;
    position: relative;
    background-color: #fff;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 5;
      transform-origin: center;
      transform: translate(-50%, -50%) scale(0);
      width: 100%;
      height: 100%;
      transition: 0s;
      background-color: rgba(#fff, 0.15);
      pointer-events: none;
    }
  }
  &__name {
    padding: 0 4px;
    height: 2.6rem;
    line-height: 1.3;
    color: #6d6c6c;
    overflow: hidden;
    @include media($pad) {
      height: 2.2rem;
    }
  }
  &__price {
    padding: 0 4px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #d9493f;
    @include media($pad) {
      font-size: 1.4rem;
    }
    span {
      font-size: 0.8em;
    }
  }
  .button-prev,
  .button-next {
    outline: none;
    position: absolute;
    top: 40%;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: rgba(#fff, 0.8);
    border-radius: 50%;
    transition: 0.2s;
    box-shadow: 1px 1px 2px rgba(#6d6c6c, 0.5);
    @include media($mobile) {
      top: 36%;
    }
    &:hover {
      background-color: rgba(#fff, 0.95);
      // transform: scale(1.1);
    }
    svg {
      width: 1.4rem;
      height: 1.4rem;
      fill: #6d6c6c;
    }
  }
  .button-next {
    right: 0;
  }
  .button-prev {
    left: 0;
  }
  .swiper-button-disabled svg {
    fill: #ccc;
  }
}

// brands
.brands {
  margin-top: 4rem;
  margin-bottom: 4rem;
  @include media($pad) {
    margin: 2rem 0;
  }
  @include media($pad) {
    margin-bottom: 1.6rem;
  }
  [class^='col'] {
    @include media($pad) {
      margin-bottom: 0.5rem;
    }
  }
  &__title {
    padding: 1.4rem 0;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #6d6c6c;
    font-weight: 600;
    text-align: center;
    background-image: url('../img/brands.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include media($pad) {
      font-size: 2rem;
      padding: 0.5rem 0;
    }
  }
  &__icon {
    display: block;
    &:hover {
      .brands__img img {
        transform: scale(0.9);
      }
      p {
        color: #2cc185;
      }
    }
  }
  &__img {
    margin-bottom: 0.4rem;
    text-align: center;
    img {
      border-radius: 50%;
      border: 6px solid #eaeef1;
      overflow: hidden;
      transition: 0.3s;
    }

    @include media($pad) {
      border-width: 4px;
      margin-bottom: 0.2rem;
    }
  }
  p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: #868686;
    transition: 0.3s;
    @include media($pad) {
      font-size: 1.1rem;
    }
  }
  .button-prev,
  .button-next {
    outline: none;
    position: absolute;
    top: 57%;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: rgba(#fff, 0.8);
    border-radius: 50%;
    transition: 0.2s;
    box-shadow: 1px 1px 2px rgba(#6d6c6c, 0.5);
    @include media($mobile) {
      top: 50%;
    }
    &:hover {
      background-color: rgba(#fff, 0.95);
      // transform: scale(1.1);
    }
    svg {
      width: 1.4rem;
      height: 1.4rem;
      fill: #6d6c6c;
    }
  }
  .button-next {
    right: 0;
  }
  .button-prev {
    left: 0;
  }
  .swiper-button-disabled svg {
    fill: #ccc;
  }
}

// activities
.activities {
  margin-top: 3rem;
  @include media($pad) {
    margin-top: 2rem;
  }
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  [class^='col'] {
    padding: 0 8px;
  }
  .col-md-4 {
    @include media($pad) {
      margin-bottom: 1rem;
    }
  }
  a {
    display: block;
    background-color: #fff;
    position: relative;
    img {
      transition: 0.3s;
    }
    &:hover {
      img {
        opacity: 0.8;
      }
    }
  }
  .activities-1 {
    margin-bottom: 1rem;
  }
  .activities-3 {
    height: 100%;
    background-image: url(../img/act-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    @include media($pad) {
      height: 40vw;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: rgba(#fff, 0.15);
      transition: 0.3s;
      opacity: 0;
      pointer-events: none;
    }
    &:hover:after {
      opacity: 1;
    }
  }
  p {
    position: absolute;
    z-index: 20;
    left: 6px;
    bottom: 4px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    text-shadow: 0 0 6px #653413, 0 0 8px #653413, 0 0 10px #653413;
  }
}
// background item
.bg-item {
  position: absolute;
  z-index: 1;
  &.item-1 {
    top: 0;
    left: 0;
    width: 19%;
  }
  &.item-2 {
    top: 0;
    right: 0;
    width: 19%;
  }
}
.scroll-item {
  position: fixed;
  z-index: 2;
  @media screen and (max-width: 1650px) {
    display: none;
  }
  // rate: 1
  &.item-2 {
    top: 0;
    right: 0;
    width: 19%;
  }
  &.item-3 {
    top: 64%;
    left: 0;
    width: 16%;
  }
  &.item-4 {
    top: 85%;
    right: 0;
    width: 20%;
  }
  &.item-5 {
    top: 170%;
    left: 1%;
    width: 16%;
  }
  &.item-6 {
    top: 230%;
    right: 1.2%;
    width: 18%;
  }
  &.item-7 {
    top: 260%;
    left: 0%;
    width: 17%;
  }
  &.item-8 {
    top: 310%;
    right: 1%;
    width: 15%;
  }
  // scroll item
  &.scroll-1 {
    top: 90%;
    left: 0;
    width: 8%;
  }
  &.scroll-2 {
    top: 110%;
    right: 2%;
    width: 10%;
  }
  &.scroll-3 {
    top: 210%;
    left: 0;
    width: 6%;
  }
  &.scroll-4 {
    top: 280%;
    right: 3%;
    width: 5%;
  }
  &.scroll-5 {
    top: 285%;
    right: 13%;
    width: 4%;
  }
  &.scroll-6 {
    top: 370%;
    right: 11%;
    width: 6%;
  }
  &.scroll-7 {
    top: 390%;
    right: 0%;
    width: 3%;
  }
}
@import 'layout/normal';
